html, body, body main {
    height: 100%;
}

.index {
    height: 100%;
}

.index .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    padding-top: 60px;
}

.card-deck {
    margin: auto;
}

svg {
    color: lightgray;
}

.progress-bar.bg-none {
    opacity: 0%;
}
