.index .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.row {
    margin: auto;
}

svg {
    color: gray;
    opacity: 75%;
}

.progress-bar.bg-none {
    opacity: 0%;
}

form {
    margin: 0;
    width: 100%;
}

form input {
    flex: 1 1 auto;
    max-width: 100%;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.alert {
    width: 100%;
    margin: 80px auto 20px;
}
