html, body, body main {
    height: 100%;
}

.index {
    height: 100%;
}

.index .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    padding-top: 60px;
}

.card-deck {
    margin: auto;
}

svg {
    color: gray;
    opacity: 75%;
}

.progress-bar.bg-none {
    opacity: 0%;
}

.form-inline {
    margin: 0;
    width: 100%;
}

.form-inline input {
    flex: 1 1 auto;
    max-width: 100%;
}

.form-control-dark {
    margin: 0 2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.alert {
    width: 100%;
    margin: 20px auto;
}
