{% import "macros.html" as macros %}

<html>
    <head>
        <meta charset="utf-8" />
        <title>CaptainStat</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">CaptainStat</a>

                {% if base_url %}
                    <form class="form-inline form-row" action="/search{{ base_url|trim_start_matches(pat="/search") }}" method="get">
                        <input class="form-control form-control-dark col-7"
                        type="text" placeholder="Search" aria-label="Search" name="q" value="{% if q %}{{ q }}{% endif %}" />
                    <form>
                {% else %}
                    <div class="form-inline form-row"></div>
                {% endif %}
                <a href="https://github.com/sanpii/captainstat" target="_blank" title="Code source">
                    {{ macros::svg(icon="file-earmark-code", size=32) }}
                </a>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
