{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        {{ macros::svg(icon="info-circle", size=32) }}
        Voici un aperçu rapide, que j’espère le moins biaisé possible, du
        contenu de la plateforme collaborative
        <a href="https://captainfact.io/" target="_blank">CaptainFact</a>,
        avec :
        <ul>
            <li>en <span class="text-success"><b>vert</b></span> la somme les scores des confirmations ;</li>
            <li>en <span class="text-danger"><b>rouge</b></span> la somme des scores des réfutations ;</li>
            <li>en <span class="text-secondary"><b>gris</b></span> la somme des scores des commentaires.</li>
        </ul>
        Au survol, s’affiche le nombres de commentaires pour chaque catégorie.
        <hr />
        <div class="text-muted">
            Les données sont mises à jour toutes les heures pour
            la première page, une fois par jour pour les autres.
        </div>
    </div>
    <div class="row row-cols-4">
        {% if pager.count == 0 %}
            <div class="alert alert-info">Aucun élément trouvé</div>
        {% endif %}

        {% for entity in pager.iterator %}
        <div class="col mb-4">
            <div class="card">
                <a href="{{ entity.url }}" target="_blank">
                    {% if entity.picture %}
                        <img src="{{ entity.picture }}" class="card-img-top" />
                    {% else %}
                        {{ macros::svg(icon="person", size=256) }}
                    {% endif %}
                </a>
                <div class="card-body">
                    <div class="progress card-title">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: {{ entity.percent_approves }}%"
                            aria-valuenow="15"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_approves }} confirmations"
                        ></div>
                        <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: {{ entity.percent_refutes }}%"
                            aria-valuenow="20"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_refutes }} réfutations"
                        ></div>
                        <div
                            class="progress-bar bg-none"
                            role="progressbar"
                            style="width: {{ entity.percent_comments }}%"
                            aria-valuenow="20"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_comments }} commentaires"
                        ></div>
                    </div>
                    <a href="{{ entity.url }}" target="_blank">{{ entity.title }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mx-auto">
        {{ pager(pager=pager, base_url=base_url) }}
    </div>
</div>
{% endblock %}
