{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row row-cols-4">
        {% for entity in pager.iterator %}
        <div class="col mb-4">
            <div class="card">
                {% if entity.picture %}
                    <img src="{{ entity.picture }}" class="card-img-top" />
                {% else %}
                    <svg width="256" height="256" fill="currentColor">
                        <use xlink:href="/static/lib/bootstrap-icons/bootstrap-icons.svg#person"/>
                    </svg>
                {% endif %}
                <div class="card-body">
                    <div class="progress card-title">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: {{ entity.percent_approves }}%"
                            aria-valuenow="15"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_approves }} confirmations"
                        ></div>
                        <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: {{ entity.percent_refutes }}%"
                            aria-valuenow="20"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_refutes }} réfutations"
                        ></div>
                        <div
                            class="progress-bar bg-none"
                            role="progressbar"
                            style="width: {{ entity.percent_comments }}%"
                            aria-valuenow="20"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            title="{{ entity.nb_comments }} commentaires"
                        ></div>
                    </div>
                    <a href="{{ entity.url }}" target="_blank">{{ entity.title }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center mx-auto">
            {{ pager(pager=pager) }}
        </div>
    </div>
</div>
{% endblock %}
