{% component svg(icon: string, size: integer) %}
    <svg width="{{ size }}" height="{{ size }}" fill="currentColor">
        <use xlink:href="/static/lib/bootstrap-icons/bootstrap-icons.svg#{{ icon }}"/>
    </svg>
{% endcomponent svg %}

{% component card(label: string, url: string, icon: string) %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{{ url }}" title="{{ label }}">
                    {{ <svg icon="icon" size={256} /> }}
                </a>
            </div>
            <div class="card-footer">{{ label }}</div>
        </div>
    </div>
{% endcomponent card %}
